<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikacjarolnicza">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".EdytujPryskanie"
            android:theme="@style/Theme.AppCompat"></activity>
        <activity android:name=".EdytujNawozenie"
            android:theme="@style/Theme.AppCompat"/>
        <activity android:name=".ZaznaczObszarDialog" />
        <activity
            android:name=".DzialkiNaMapieAktywnosc"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".SzacowanieGlebyAktywnosc"
            android:label="Plan azotowy"/>
        <activity android:name=".ZestawieniePryskanieAktywnosc"
            android:label="Zestawienie pryskania"/>
        <activity
            android:name=".ZestawienieNawozenieAktywnosc"
            android:label="Zestawienie nawożenia" />
        <activity android:name=".ListaPolAktywnosc" />
        <activity android:name=".EwidencjaAktywnosc" />
        <activity android:name=".ZobaczObszar" />
        <activity android:name=".InformacjeoPolu" />
        <activity android:name=".ZobaczZabiegiAktywnosc" />
        <activity android:name=".ZagrozenieAktywnosc" />
        <activity android:name=".UprawaAktywnosc" />
        <activity android:name=".ZbiorAktywnosc" />
        <activity android:name=".NotatkaAktywnosc" />
        <activity android:name=".PryskanieAktywnosc" />
        <activity android:name=".NawozenieAktywnosc" />
        <activity android:name=".DodajZabiegAktywnosc" />
        <activity android:name=".PoleAktywnosc" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />




        <activity android:name=".ZaznaczObszar" />
        <activity android:name=".DodawaniePola"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.aplikacjarolnicza.MainActivity" />


        </activity>
        <activity android:name=".ObslugaAktywnosc"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>